<div class="footer">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a href="../index.html"
            class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img class="footer-web-logo" src="../assets/img/web-logo.png" alt="Website Logo">
        </a>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <div class="footer-info">
                <p class="text-center text-sm text-gray-700 sm:ml-6 sm:mt-0 mt-4">© 2021 TemplatesBySam | All Rights
                    Reserved | <a href="../policy.html">Policy</a> | <a href="../terms-cond.html">T&C</a></p>
                <a href="https://samarthsubhash-chitley.web.app" rel="noopener noreferrer"
                    class="mt-1 text-gray-800 ml-1 footer-sam" target="_blank">Samarth Subhash Chitley</a>
            </div>
        </span>
    </div>
</div>